{% extends "base.html" %}

{% block title %}Articles - embed.rs{% endblock %}

{% block content %}
<div class="page">
  <h1>Articles</h1>

  {% for article in articles %}
  <div class="article-item">
    <div class="info">{{ (article.date|arrow).format('MMMM DD, YYYY') }}</div>
    <h2><a href="{{article.url_for()}}">{{ article.title }}</a></h2>
    {% with teaser_end = ("<a href=\"" + url_for('.show_article', slug=article.url_slug) + "\">[ &hellip; ]</a>")|safe %}
    <p class="teaser">{{ article.teaser if article.teaser else article.content|markdown|striptags|truncate(end=teaser_end) }}</p>
    {% endwith %}
  </div>
  {% endfor %}
</div>
{% endblock %}
