{% extends "base.html" %}

{% block title %}{{article.title}} - embed.rs{% endblock %}

{% macro writer_list(writers) %}
{%- set items = [] %}
{%- for writer in writers|sort(attribute="full_name") -%}
{%- set _ = items.append((writer.full_name, writer.link)) -%}
{%- endfor -%}
{{link_list(items)}}
{%- endmacro %}

{% macro link_list(items, sep=", ", use_and=True) %}
{%- for text, url in items -%}
      {% if use_and and loop.revindex == 1 and loop.index > 1 %} and {% endif %}
      <a href="{{ url }}">{{ text }}</a>
      {%- if loop.revindex > 2 or not use_and and loop.revindex > 1 %}{{sep}}{% endif %}
{%- endfor %}
{% endmacro %}

{% block content %}
<div class="article">
  <h1>{{ article.title }}</h1>
  <div class="info">
    by {{ writer_list(article.authors) }}
    {%- if article.contributors %}
    with contributions from {{ writer_list(article.contributors) }}
    {% endif %}
    &middot; {{ (article.date|arrow).format('MMMM DD, YYYY') }}</div>
  {{ article.content|markdown }}

  {% for author in article.authors %}
  {%- if author.short_bio %}
  <div class="author-short-bio">{{ author.short_bio|markdown }}</div>
  {%- endif %}
  {%- endfor %}

  {% if article.discussion %}
  <div class="discussion">
  Discussion via {{link_list(article.discussion)}}
  </div>
  {% endif %}
</div>
{% endblock %}
