{% extends "base.html" %}

{% block title %}{{article.title}} - embed.rs{% endblock %}

{% macro writer_list(writers) %}
{% for writer in writers|sort(attribute="full_name") %}
      <a href="{{ writer.link }}" title="about {{ writer.full_name }}">{{ writer.full_name }}</a>
      {%- if not loop.last %}, {% endif %}
{% endfor %}
{% endmacro %}

{% block content %}
<div class="article">
  <h1>{{ article.title }}</h1>
  <div class="info">
    by {{ writer_list(article.authors) }}
    {%- if article.contributors %}
    with contributions from {{ writer_list(article.contributors) }}
    {% endif %}
    &middot; {{ (article.date|arrow).format('MMMM DD, YYYY') }}</div>
  {{ article.content|markdown }}

  {% for author in article.authors %}
  {%- if author.short_bio %}
  <div class="author-short-bio">{{ author.short_bio|markdown }}</p>
  {%- endif %}
  {%- endfor %}
</div>
{% endblock %}
