<!doctype html>
<html>
<head>
  <title>{% block title %}{% if title %}{{ title }} - embed.rs{% else %}embed.rs{% endif %}{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fonts.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/two.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/github.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='img/icon.png') }}" sizes="512x512" type="image/png">
  <link rel="icon" href="{{ url_for('static', filename='img/icon.svg') }}" sizes="any" type="image/svg+xml">
  <link rel="alternate" type="application/atom+xml" title="embed.rs" href="{{ url_for('atom_feed') }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="container">
  <div class="navbar">
    <div><span class="logo"><a href="{{ url_for('index') }}">embed<span class="accent">.rs</span></a></span><br>
    <span class="slogan">Rust embedded development</span>
    </div>
    <ul class="menu">
      <li><a href="{{url_for('list_articles')}}">/articles</a></li>
      <li><a href="{{url_for('about')}}">/about</a></li>
    </ul>
    <div class="gitlink last"><a href="https://github.com/embed-rs">
      <img src="{{ url_for('.static', filename='img/github_light.png') }}">
    </a></div>
  </div>
  <div class="main">
  {% block content %}
    missing content
  {% endblock %}
  </div> <!-- /main -->
</div> <!-- /container -->
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
});
</script>
<script type="text/javascript" async
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
</body>
</html>
