<!doctype html>
<html>
<head>
  <title>{{ title }} - embed.rs</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fonts.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/two.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/github.css') }}">
</head>
<body>
<div class="container">
  <div class="sidebar">
    <div><span class="logo">embed<span class="accent">.rs</span></span><br>
    <span class="slogan">Rust embedded development</span>
    </div>
    <ul class="menu">
      <li><a href="{{url_for('list_articles')}}">/articles</a></li>
      <li><a href="{{url_for('about')}}">/about</a></li>
    </ul>
    <div class="gitlink last"><a href="https://github.com/embed-rs">
      <img src="{{ url_for('.static', filename='img/github_light.png') }}">
    </a></div>
  </div>
  <div class="main">
  {% block content %}
    missing content
  {% endblock %}
  </div> <!-- /main -->
</div> <!-- /container -->
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
});
</script>
<script type="text/javascript" async
  src="{{ url_for('static', filename='js/MathJax.js', config='TeX-AMS_CHTML') }}"></script>
</body>
</html>
