{% extends "base.html" %}

{% block content %}
{% for a in articles %}
<div class="article">
  <h1>{{ a.title }}</h1>
  <div class="info">
    by {% for author in a.authors %}
      <a href="{{ author.link }}" title="about {{ author.full_name }}">{{ author.full_name }}</a>
      {%- if not loop.last %}, {% endif %}
    {% endfor %}
    &middot; {{ (a.date|arrow).format('MMMM DD, YYYY') }}</div>
  <p class="teaser">{{ a.teaser if a.teaser else a.content|markdown|striptags|truncate }}</p>
</div>
{% endfor %}
{% endblock %}
